@import 'nav.css';
@import 'footer.css';



.hero-section{
    width: 100%;
    height: calc(120vh - 140px);
    background-image: url('../img/lambo.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .logo{
    height:150px;
    display: block;
    margin: auto;
}

.hero-section .sub-heading{
    margin-top: 10px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 300;
}



.hero-section2{
    width: 100%;
    height: calc(120vh - 140px);
    background-image: url('../img/rangeblack.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section2 .logo{
    height:150px;
    display: block;
    margin: auto;
}

.hero-section2 .sub-heading{
    margin-top: 10px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 300;
}

.hero-section3{
    width: 100%;
    height: calc(120vh - 140px);
    background-image: url('../img/cyber.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section3 .logo{
    height:150px;
    display: block;
    margin: auto;
}

.hero-section3 .sub-heading{
    margin-top: 10px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 300;
}







.hero-section4{
    width: 100%;
    height: calc(120vh - 140px);
    background-image: url('../img/hybrid123.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section4 .logo{
    height:150px;
    display: block;
    margin: auto;
}

.hero-section4 .sub-heading{
    margin-top: 10px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 300;
}

.hero-section5{
    width: 100%;
    height: calc(120vh - 140px);
    background-image: url('../img/vraag.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section5 .logo{
    height:150px;
    display: block;
    margin: auto;
}

.hero-section5 .sub-heading{
    margin-top: 10px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 300;
}


/* product */
.product{
    position: relative;
    overflow: hidden;
    padding: 20px 0;
    /* background-color: #474747;  */
}

.product-category{
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container {
    padding: 0 10vw;
    display: flex;
    flex-wrap: wrap; /* Nieuwe toevoeging */
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar{
    display: none;
}

.product-card {
    flex: 0 0 auto;
  
    margin-right: 40px;
    margin-bottom: 40px; /* Nieuwe toevoeging */
}


.product-image {
    position: relative;
    width: 100%;
    height: 250px; /* Aangepaste hoogte */
    overflow: hidden;
}

.product-thumb {
    width: 100%;
    height: 100%; /* Aangepaste hoogte */
    object-fit: cover;
}
.discount-tag{
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn{
    opacity: 1;
}

.card-btn:hover{
    background: #efefef;
}

.product-info{
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand{
    text-transform: uppercase;
}

.product-short-des{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price{
    font-weight: 900;
    font-size: 20px;
}

.actual-price{
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

/* formulier */


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.center h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    margin: 30px 0;
}

.txt_field input, .txt_field textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid #adadad;
}

.txt_field label {
    position: absolute;
    top: 10px;
    left: 5px;
    color: #adadad;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: #2691d9;
    transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label,
.txt_field textarea:focus ~ label,
.txt_field textarea:valid ~ label {
    top: -15px;
    color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before,
.txt_field textarea:focus ~ span::before,
.txt_field textarea:valid ~ span::before {
    width: 100%;
}

.pass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.pass:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: #2691d9;
    transition: .5s;
}

.signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup_link a {
    color: #2691d9;
    text-decoration: none;
}

.signup_link a:hover {
    text-decoration: underline;
}
